* {padding: 0; margin: 0;}
a {text-decoration: none;}
li {list-style: none;}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1420px !important;
  }}
@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1420px !important;
}}
@media (min-width: 992px) {
  .container, .container-lg, .container-md, .container-sm {
    max-width: 1420px !important;
}}
@media (min-width: 768px){
  .container, .container-md, .container-sm {
    max-width: 1420px !important;
}}
@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 1420px !important;
}}

.App {
  position: relative;
  padding-top: 80px;
  box-sizing: border-box;
  background-color: #000;
}

html {
  background-color: #000;
}